<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="35">
        <h4>Links</h4>
        <a routerLink="/home">Home Page</a>
        <a href="tel:+2547124605365"> Call Us</a>
        
      </div>
      <div fxFlex="60">
        <h4>Our Address</h4> 
        <address style="font-size: 80%">
          6, AnyWhere street<br> some city, one State<br> Kenya<br>
          <i class="fa fa-phone"></i>: <a href="tel:+2547124605365">+254 712 460 5365</a> <br>
          
          </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-facebook" href=""><i class="fab fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/agnes-pendo-0b4226253/"><i class="fab fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-whatsapp" href="https://wa.me/247124605365"><i class="fab fa-whatsapp fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:pendoagnes222@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2022 Pendo Agnes & Chacha Alex</p>
  </div>
</div>