<div fxFlex fxLayout="column"
            
fxLayoutAlign="center">

    <div class="ctn">
        <h3>Women's Shoes</h3>
        <mat-grid-list [rowHeight]="rowHeight" gutterSize="25px" [cols]="breakpoint">
        <mat-grid-tile appHighlight  *ngFor="let shoe of shoes | 
                                                paginate: { itemsPerPage: 12,
                                                currentPage: page,
                                                totalItems: length }">
                 <mat-card style="height: 80%; width: 65%">
                    <div style="height: 80%;"  [routerLink]="['/productdetail', shoe._id]">
                        <img mat-card-image style="max-height: 400px;" src="{{BaseURL + shoe.image}}" alt={{shoe.name}}>
                    <mat-card-content  *ngIf="!opened">
                        <div class="desc">
                            <p matline class="name">{{shoe.name | uppercase}}</p>
                            <p matline>{{shoe.description}}</p>
                            
                            <p matline>&#65284;{{shoe.price}}</p>
                        </div>
                    </mat-card-content>
                    
                    </div>
                    <mat-card-actions>
                        <button  class="button" (click)="addToCart(shoe);"  mat-button fxFlex="grow"> Add to cart</button>
                        
                    </mat-card-actions>
                    
                </mat-card>
             </mat-grid-tile>
             <div *ngIf="!shoes" fxLayoutAlign="center center" fxFlex>
                <mat-spinner color="accent"></mat-spinner>
             </div>
        </mat-grid-list>    

    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

