mat-card {
    background-color: white;
    padding: 20px;
    font-size: 12px;
    filter: drop-shadow( 0px 0px 2px gray );
    font-weight: bold;
    margin: 20px;
}

img {
    padding-top: 40px;
}

.fa-trash {
    margin-left: 20px;
    padding-top: 5px;
}

.icons {
    float: right;
    margin-right: 10px;
}

mat-card-footer {
    padding: 10px;
}



.button {
    filter: drop-shadow( 0px 0px 2px gray );
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    height: 35px;
    width: 100%;
}

.fa-plus, .fa-minus {
        
        background-color: black;
        color: white;
        margin-right: 10px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 50%;    
}