<div fxFlex fxLayout="column"
            
fxLayoutAlign="center">

    <div class="ctn">
        <h1 style="font-size: 30px; text-align: center;">
            Men's Clothing
        </h1>
        
        <mat-grid-list [rowHeight]="rowHeight" gutterSize="25px" [cols]="breakpoint">
        <mat-grid-tile appHighlight  *ngFor="let clothing of clothing | 
                                                paginate: { itemsPerPage: 12,
                                                currentPage: page,
                                                totalItems: length }">
                 <mat-card style="height: 80%; width: 65%">
                    <div style="height: 80%;"  [routerLink]="['/productdetail', clothing._id]">
                        <img mat-card-image style="max-height: 400px;" src="{{BaseURL + clothing.image}}" alt={{clothing.name}}>
                    <mat-card-content  *ngIf="!opened">
                        <div class="desc">
                            <p matline class="name">{{clothing.name | uppercase}}</p>
                            <p matline>{{clothing.description}}</p>
                            
                            <p matline>&#x20A6;{{clothing.price}}</p>
                        </div>
                    </mat-card-content>
                    
                    </div>
                    <mat-card-actions>
                        <button  class="button" (click)="addToCart(clothing);"  mat-button fxFlex="grow"> Add to cart</button>
                        
                    </mat-card-actions>
                    
                </mat-card>
             </mat-grid-tile>
             <div *ngIf="!clothing" fxLayoutAlign="center center" fxFlex>
                <mat-spinner color="accent"></mat-spinner>
             </div>
        </mat-grid-list>    
        
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
